---
// src/components/Experience.astro
---

<div class="w-full lg:w-[900px] mx-auto px-4">
    <ul class="border-l-2 border-yellow-400 pl-6 space-y-12">
      <li>
        <h3 class="text-lg font-semibold">🟡 Data Analyst | Data Engineer en T2Client</h3>
        <p class="text-sm text-gray-400">
          2020 - Presente · Power BI, BigQuery, Databricks, Data Factory, Python, dashboards
        </p>
      </li>
  
      <li>
        <h3 class="text-lg font-semibold">🟢 System Administrator en Hispasec</h3>
        <p class="text-sm text-gray-400">
          2018 - 2020 · Ansible, Docker, AWS, Azure, Linux
        </p>
      </li>
    </ul>
  </div>
  